---
interface Props {
  title: string;
}
import '@fontsource/jost';
import '@fontsource/sen';
import { Icon } from 'astro-icon/components';
import { ViewTransitions } from 'astro:transitions';

const { title } = Astro.props;
const { pathname } = Astro.url;
const currentLinkClass = 'text-primary-500 pointer-events-none font-light';
const hoverLinkClass = 'text-primary-100 hover:text-accent-200';

const checkClass = (path: string) => {
  return pathname === path ? currentLinkClass : hoverLinkClass;
};

const links = [
  {
    href: '/',
    text: 'INICIO',
    class: checkClass('/'),
  },
  {
    href: '/projects',
    text: 'PROYECTOS',
    class: checkClass('/projects'),
  },
  {
    href: '/blog',
    text: 'BLOG',
    class: checkClass('/blog'),
  },
  {
    href: '/about',
    text: 'SOBRE MÍ',
    class: checkClass('/about'),
  },
];
---

<!doctype html>
<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='description'
      content='¡Buenas, buenas, entusiastas de la tecnología! Soy EmoPorEmilio y transmito en línea acerca de tecnología y juegos.'
    />
    <meta name='viewport' content='width=device-width' />
    <link
      rel='icon'
      type='image/png'
      id='activity-favicon'
      href='/favicon-on.png'
    />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class='font-jost subpixel-antialiased bg-bg-100'>
    <nav
      class='bg-bg-400 h-[70px] border-b-4 border-accent-500 text-lg font-semibold'>
      <div class='logo'>
        <a href='/'>
          <img src='/logo.png' alt='Logo' />
        </a>
        <Icon
          name='ic:baseline-tiktok'
          class='subpixel-antialiased text-accent-200'
          size={24}
        />
        <Icon name='mdi:github' size={24} />
        <Icon name='mdi:youtube' size={24} />
      </div>
      {
        links.map((link) => (
          <a class={link.class} href={link.href}>
            {link.text}
          </a>
        ))
      }
    </nav>
    <main class='flex flex-col items-center justify-center'>
      <slot />
    </main>
  </body><script>
    window.onblur = function () {
      var link: any = document.querySelector("link[rel~='icon']");
      link.href = '/favicon-off.png';
    };
    window.onfocus = function () {
      var link: any = document.querySelector("link[rel~='icon']");
      link.href = '/favicon-on.png';
    };
    console.log(Astro.url.pathname);
  </script>
  <style is:global>
    html,
    body {
      font-family: system-ui, sans-serif;
      background: #13151a;
      color: white;
      width: 100%;
      height: 100%;
    }
    .logo {
      display: flex;
      align-items: start;
      flex: 1;
    }
    nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 0.5rem 1.5rem 0.5rem 1.5rem;
      gap: 2rem;
    }
    code {
      font-family:
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
    }
  </style>
</html>
