---
interface Props {
  title: string;
}
import '@fontsource/jost/100.css';
import '@fontsource/jost/200.css';
import '@fontsource/jost/300.css';
import '@fontsource/jost/400.css';
import '@fontsource/jost/500.css';
import '@fontsource/jost/600.css';
import '@fontsource/jost/700.css';
import '@fontsource/jost/800.css';
import '@fontsource/jost/900.css';
import '@fontsource/sen';
import { Icon } from 'astro-icon/components';
import { ViewTransitions } from 'astro:transitions';

const { title } = Astro.props;
const { pathname } = Astro.url;
const currentLinkClass =
  'text-primary-500 pointer-events-none font-light tracking-[0.065em]';
const hoverLinkClass = 'text-primary-100 hover:text-accent-200';

const checkClass = (path: string) => {
  return pathname === path || pathname === path + '/'
    ? currentLinkClass
    : hoverLinkClass;
};

const links = [
  {
    href: '/',
    text: 'INICIO',
    class: checkClass('/'),
  },
  {
    href: '/projects',
    text: 'PROYECTOS',
    class: checkClass('/projects'),
  },
  {
    href: '/blog',
    text: 'BLOG',
    class: checkClass('/blog'),
  },
  {
    href: '/about',
    text: 'SOBRE MÍ',
    class: checkClass('/about'),
  },
];
---

<!doctype html>
<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='description'
      content='¡Buenas, buenas, entusiastas de la tecnología! Soy EmoPorEmilio y transmito en línea acerca de tecnología y juegos.'
    />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link
      rel='icon'
      type='image/png'
      id='activity-favicon'
      href='/favicon-on.png'
    />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class='font-jost subpixel-antialiased bg-bg-100'>
    <div id='collapsable-menu' class='hidden w-full h-dvh bg-bg-200'>
      <div class='flex h-[100dvh] w-[100dvw] flex-col'>
        <div
          class='flex h-14 w-full items-center justify-center border-b-4 border-solid border-accent-500 bg-bg-400'>
          <span
            class='text-4xl font-jost font-extrabold tracking-wider text-primary-300'>
            ANUNCIOS
          </span>
        </div>
        <div
          class='flex h-10 w-full items-center border-b-4 border-bg-100 bg-primary-600 pl-4'>
          <a href='/' class={`font-sen text-xl text-gray-200`}>
            Proyecto Viviana
          </a>
        </div>
        <div
          class='flex h-10 w-full items-center border-b-4 border-bg-100 bg-primary-600 pl-4'>
          <a href='/' class={'font-sen text-xl text-gray-200'}>
            Proyecto Viviana
          </a>
        </div>
        <div
          class='flex h-10 w-full items-center border-b-4 border-bg-100 bg-primary-600 pl-4'>
          <a href='/calendar' class={'font-sen text-xl text-gray-200'}>
            Calendar
          </a>
        </div>
        <div
          class='flex h-10 w-full items-center border-b-4 border-bg-100 bg-primary-600 pl-4'>
          <a href='/mobile' class={'font-sen text-xl text-gray-200'}>
            Mobile
          </a>
        </div>
        <div
          class='flex h-14 w-full items-center justify-center border-b-2 border-solid border-accent-500 bg-bg-400'>
          <span class='text-4xl font-bold tracking-wider text-primary-300'>
            TUTORIALES
          </span>
        </div>
      </div>
    </div>
    <nav
      class='bg-bg-400 h-[55px] text-lg font-semibold justify-around items-center flex py-6 px-2'>
      <div
        class='flex justify-between items-center md:justify-start gap-2 flex-1'>
        <a href='/'>
          <img width='55' height='28' src='/logo.svg' alt='Logo' />
        </a>
        <div class='flex md:justify-center items-center gap-2'>
          <a target='_blank' href='https://www.tiktok.com/@emoporemilio'>
            <Icon
              name='ic:baseline-tiktok'
              class='subpixel-antialiased text-primary-500'
              size={24}
            />
          </a>
          <a target='_blank' href='https://www.github.com/emoporemilio'>
            <Icon
              name='mdi:github'
              class='subpixel-antialiased text-primary-200'
              size={24}
            /></a
          >
          <a target='_blank' href='https://www.youtube.com/emoporemilio'>
            <Icon
              name='mdi:youtube'
              class='subpixel-antialiased text-accent-500'
              size={24}
            />
          </a>
        </div>
        <div class='md:hidden'>
          <Icon
            id='open-menu-button'
            name='mdi:menu'
            class='subpixel-antialiased text-primary-100 cursor-pointer'
            size={40}
          />
        </div>
      </div>
      <div class='hidden md:flex gap-8'>
        {
          links.map((link) => (
            <a class={link.class} href={link.href}>
              {link.text}
            </a>
          ))
        }
      </div>
    </nav>
    <div class='bg-bg-400'>
      <main
        class='flex flex-col items-center justify-center border-t-2 border-accent-500 rounded-xl bg-bg-100'>
        <slot />
      </main>
    </div>
    <script>
      document
        .querySelector('#open-menu-button')
        ?.addEventListener('click', () => {
          document
            .querySelector('#collapsable-menu')
            ?.classList.toggle('hidden');
        });
      document
        .querySelector('#close-menu-button')
        ?.addEventListener('click', () => {
          document
            .querySelector('#collapsable-menu')
            ?.classList.toggle('hidden');
        });
      window.onblur = function () {
        var link: any = document.querySelector("link[rel~='icon']");
        link.href = '/favicon-off.png';
      };
      window.onfocus = function () {
        var link: any = document.querySelector("link[rel~='icon']");
        link.href = '/favicon-on.png';
      };
    </script>
    <style is:global>
      html,
      body {
        font-family: system-ui, sans-serif;
        background: #13151a;
        color: white;
        width: 100%;
        height: 100%;
      }
      code {
        font-family:
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }
    </style>
  </body>
</html>
